.bg{
    /* border: black 5px solid; */
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 20% 80%;
    height: 608px;
    margin: 50px;
    background-color: #ffffee;
    border-radius: 45px;
    box-shadow: 1px 1px 70px black;
  }