.hd{
    /* border: 5px black solid; */
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:1 ;
    grid-row-end: 2;

}
.cName{
    font-family: "cocogoose", sans-serif;
    font-weight: 1000;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 45%;
    color: #6D9773;
}
.login{
    grid-column-start:3 ;
    grid-column-end: 4;
    font-weight: 600;
    font-family: "Lalezar", system-ui;
    grid-row-start:1 ;
    grid-row-end: 2;
    color: #6D9773;
    margin-top: 10px;
}
.signup{
    font-family: "Lalezar", system-ui;
    margin-right: 5px;
    grid-column-start: 3;
    grid-column-end: 4;
    /* margin-left: 100px; */
    margin-top: 10px;
    font-weight:600;
    grid-row-start:1 ;
    grid-row-end: 2;
    color: #6D9773;
}
.LinkStyle_header_login{
    text-decoration: none;
    color: #6D9773;
    grid-column-start:3 ;
    grid-column-end: 4;
    grid-row-start: 1;
    /* border: 5px black solid; */
    width: 30%;
    height: 10%;
    /* margin-top: 11%; */
    margin-left: 55%;
}
.LinkStyle_header_signup{
    text-decoration: none;
    color: #6D9773;
    grid-column-start:3 ;
    grid-column-end: 4; 
    grid-row-start: 1;
    width: 30%;
    height: 10%;
    /* margin-top: 11%; */
    margin-left: 75%;
    /* border: 5px black solid; */
}
.profile{
    grid-column-start:3 ;
    grid-column-end: 4;
    font-weight: 600;
    font-family: "Lalezar", system-ui;
    grid-row-start:1 ;
    grid-row-end: 2;
    grid-column-start: 3;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    margin-top: 5px;
    margin-left: 0px;
    background-color: #6D9773;
    /* margin-top: -6px; */
    /* margin-left: 65%; */
}
.LinkStyle_profile{
    /* border: 5px black solid; */
    width: 5%;
    height: 20%;
    margin-left: 5px;
    grid-row-start:1 ;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    margin-left: 485px;
    margin-top: 10px;
}
.challenges{
    font-family: "Lalezar", system-ui;
    margin-right: 5px;
    grid-column-start: 3;
    grid-column-end: 4;
    /* margin-left: 100px; */
    font-weight:600;
    grid-row-start:1 ;
    grid-row-end: 2;
    color: #6D9773;
    margin-left: 65%;
}
.vote{
    font-family: "Lalezar", system-ui;
    /* margin-right: 5px; */
    grid-column-start: 3;
    grid-column-end: 4;
    /* margin-left: 100px; */
    font-weight:600;
    grid-row-start:1;
    grid-row-end: 2;
    color: #6D9773;
    margin-top: 4px;
    text-decoration: none;
    /* margin-left: 45%; */
}
.LinkStyle_vote{
    /* border: 5px black solid; */
    width: 8%;
    height: 25%;
    margin-left: 5px;
    grid-row-start:1 ;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    margin-left: 52%;
    margin-top: 15px;
    text-decoration: none;
}
.community{
    font-family: "Lalezar", system-ui;
    /* margin-right: 5px; */
    grid-column-start: 3;
    grid-column-end: 4;
    /* margin-left: 100px; */
    font-weight:600;
    grid-row-start:1;
    grid-row-end: 2;
    color: #6D9773;
    margin-top: 4px;
    text-decoration: none;
    /* margin-left: 45%; */
}
.LinkStyle_community{
    /* border: 5px black solid; */
    width: 18%;
    height: 25%;
    margin-left: 5px;
    grid-row-start:1 ;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    margin-left: 27%;
    margin-top: 15px;
    text-decoration: none;
}
.Wos{
    font-family: "Lalezar", system-ui;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-left: 0px;
    font-weight:600;
    grid-row-start:1;
    grid-row-end: 2;
    color: #6D9773;
    margin-top: 10px;
    text-decoration: none;
    margin-left: 5%;
}
.LinkStyle_wos{
    /* border: 5px black solid; */
    width: 28%;
    height: 25%;
    margin-left: 5px;
    grid-row-start:1 ;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-left: 97%;
    margin-top: 10px;
    text-decoration: none;
}