.submitbtn1{
    background-color: #ffba00;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-right: 10%;
    margin-top: 40%;
    height: 40px;
    width: 32%;
    border-radius: 45px;
    border: none;
    font-family: "Inter", sans-serif;
    font-weight: 650;
    color:#ffffee ; 
}